<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Wdio app Test" verbose="1">
    <test name="Wdio app Tests">
        <classes>
            <class name="com.globant.appWadio.tests.MenuTest" />
            <class name="com.globant.appWadio.tests.SignUpTest" />
            <class name="com.globant.appWadio.tests.LoginTest" />
            <class name="com.globant.appWadio.tests.SwipeTest" />
        </classes>
    </test>
</suite>